__pycache__
.terraform
.terraform.lock.hcl
**/__pycache__
**/containersec-tabular_regression_pipeline.json
**/ddos-evaluate_do_online_prediction.json
**/ddos-run_feature_store_train_deploy_automl_model.json
**/ddos-tabular_regression_pipeline.json
**/generated/*.json
**/generated/*.sh
**/tabular_regression_pipeline.json
*DS_Store*
backend.auto.tf
bootstrap.auto.tfvars
logs/*.log
src/.vscode/launch.json
src/00_bootstrap/backend.tf
src/00_bootstrap/terraform.tfvars
src/04_anomaly_detection/terraform.tfvars
src/04_anomaly_detection/ddos_upload_model/model/predict/*
tmp/*
venv/
